.frame-parent24, .frame-parent25 
{ 
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent25 {
  overflow: hidden;
  justify-content: flex-start;
  padding: var(--padding-6xl) var(--padding-3xs);
  gap: var(--gap-40xl);
}
.frame-parent24 {
  flex: 1;
  backdrop-filter: blur(25.2px);
  background-color: var(--color-gray-300);
  border: 1px solid var(--color-gray-200);
  justify-content: center;
  padding: 0 var(--padding-xl);
  gap: var(--gap-205xl-8);
  z-index: 6;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--white);
} 

@media screen and (max-width: 700px) {
    .frame-parent25 {
      display: none;
    }
    .frame-parent24 {
      gap: var(--gap-93xl);
    }
  }
  @media screen and (max-width: 925px) {
    .frame-parent25 {
      gap: var(--gap-10xl);
    }
    .frame-parent24 {
      gap: var(--gap-37xl);
    }
    .frame-section {
      padding-bottom: var(--padding-507xl);
      box-sizing: border-box;
    }
  }
  
  @media screen and (max-width: 450px) {
     .frame-parent24 {
      gap: var(--gap-9xl);
    }
    .frame-section {
      padding-bottom: var(--padding-323xl);
      box-sizing: border-box;
    }
  }