.urban-air-mobility,
.with-the-age {
  position: relative;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}
.urban-air-mobility {
  margin: 0;
  align-self: stretch;
  font-size: 48px;
  line-height: 89px;
  font-weight: 700;
  font-family: urbanist;
  z-index: 1;
  margin-top: 12%;
}
.with-the-age {
  height: 242px;
  flex: 1;
  line-height: 46px;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 24px;
  font-weight: 200;
  font-family: poppins;
  letter-spacing: 0.48;
}
.backgroundborder-child {
  width: 324px;
  position: relative;
  border-radius: 4.54px;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  max-width: 100%;
}
.backgroundborder1 {
  align-self: stretch;
  box-shadow: var(--blue-blur);
  border-radius: var(--br-base);
  background: linear-gradient(
    114.03deg,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0)
  );
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: var(--padding-67xl) var(--padding-44xl);
  gap: var(--gap-83xl);
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--white);
  font-family: var(--font-poppins);
}
.backgroundborder1,
.frame-wrapper,
.urban-air-mobility-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.urban-air-mobility-parent {
  width: 1520px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 80px;
}
.frame-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 146.8px;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--cyan);
  font-family: var(--font-urbanist);
  /* background-image: url('/public//Frame\ 427318925\ 4.png'); */
}
.frame-container,
.product {
  position: relative;
  overflow-y: auto;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.frame-container {
  flex: 1;
  flex-direction: column;
  /* align-items: flex-end; */
  padding: 0 0 var(--padding-11xs);
  /* gap: 167.5px; */
  max-width: 100%;
  flex-shrink: 0;
  /* text-align: center; */
  font-size: var(--font-size-5xl);
  color: var(--color-whitesmoke-300);
  font-family: var(--font-urbanist);
}
.product {
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  line-height: normal;
  letter-spacing: normal;
  background-image: url("/public/Frame\ 427318925.png");
}
@media screen and (max-width: 1800px) {
}
@media screen and (max-width: 1350px) {
  .backgroundborder1 {
    padding-left: var(--padding-12xl);
    padding-right: var(--padding-12xl);
    box-sizing: border-box;
  }
  .urban-air-mobility-parent {
    gap: 65px;
  }
  .frame-container {
    gap: var(--gap-65xl);
  }
}
@media screen and (max-width: 925px) {
  .urban-air-mobility {
    font-size: var(--font-size-19xl);
    line-height: 71px;
  }
  .with-the-age {
    min-width: 100%;
  }
  .backgroundborder1 {
    gap: var(--gap-32xl);
  }
  .urban-air-mobility-parent {
    gap: var(--gap-14xl);
  }
  .frame-wrapper {
    padding-bottom: 95px;
    box-sizing: border-box;
  }
  .frame-container {
    gap: 15px;
  }
}
@media screen and (max-width: 450px) {
  .urban-air-mobility {
    font-size: 32px;
    line-height: 53px;
  }
  .with-the-age {
    font-size:16px;
    line-height: 37px;
  }
  .backgroundborder1 {
    gap: var(--gap-6xl);
    padding-top: var(--padding-37xl);
    padding-bottom: var(--padding-37xl);
    box-sizing: border-box;
  }
  .urban-air-mobility-parent {
   
  }
  .frame-wrapper {
    padding-bottom: var(--padding-43xl);
    box-sizing: border-box;
  }
}
