.productpage{
  width: 100%;
  margin: 0;
  font-size: 24px;
  padding: 0;
}
.productpagemain{
  width: 100%;
  background: url('../../public/product.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.productallcont{
  width: 100%;
  /* background: url('../../public/1234.svg');  */
  background-repeat: no-repeat;
  background-size: cover;
  height: 120vh;
  margin-top: -3%;
  
}
.product-innercont{
  width: 100%; 
  
}
.recoverysystemh1{
  position: absolute;
  width: 967.47px;
  color: #00F8F8;
  font-size: 128px;
  line-height: 109px;
  letter-spacing: 4%;
  font-weight: bold;
  font-family: urbanist;
  margin-bottom: 0;
  top: 55px;
  margin-left: 8%;
}
.plug-and-play{
  position: absolute;
  top:40%;
  font-size: 36px;
  font-weight: 300;
  font-family: poppins;
  line-height: 37px;
  color: white;
  width: 945px;
  height: 49px;
  margin-left: 9%;
}
.what-we-do{
  position: absolute;
  top: 52%;
  margin: 0;
  font-size: 48px;
  font-family: urbanist;
  font-weight:700;
  color: cyan;
  line-height: 48.6px;
  width: 497px;
  height: 70px;
  margin-left: 9%;
  margin-top: 50px;
  padding-top: 0;
}
.we-design-and-parent{
  position: absolute;
  top: 65%;
  width: 1519px;
  margin-top: -10px;
  background-color:#13131A;
  opacity: 0.9;
  align-items: center;
  margin-left: 9%;
  padding:25px;
}
.we-design-and,.We-offer-airframe{
  width: 90%;
  font-size: 24px;
  font-family: poppins;
  align-items: center;
  line-height: 37px;
  letter-spacing: 0.48px;
  padding-left: 3.5%;
  color: white;
}

.we-design-and{
  margin-top: 0;
}


.urban-air-mobility,
.with-the-age {
  position: relative;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}
.urban-air-mobility {
  margin: 0;
  align-self: stretch;
  font-size: 48px;
  line-height: 89px;
  font-weight: 700;
  font-family: urbanist;
  z-index: 1;
  margin-top: 12%;
}
.with-the-age {
  /* height: 242px; */
  flex: 1;
  line-height: 46px;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 24px;
  font-weight: 200;
  font-family: poppins;
  letter-spacing: 0.48;
}
.backgroundborder-child {
  width: 324px;
  position: relative;
  border-radius: 4.54px;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  max-width: 100%;
}
.backgroundborder1 {
  align-self: stretch;
  box-shadow: var(--blue-blur);
  border-radius: var(--br-base);
  background: linear-gradient(
    114.03deg,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0)
  );
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: var(--padding-67xl) var(--padding-44xl);
  gap: var(--gap-83xl);
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--white);
  font-family: var(--font-poppins);
}
.backgroundborder1,
.frame-wrapper,
.urban-air-mobility-parent {
  display: flex;
  align-items: flex-start;
  width: 100%;
}
.urban-air-mobility-parent {
  width: 1520px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 80px;
}
.frame-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 146.8px;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--cyan);
  font-family: var(--font-urbanist);
}
.allpages{
  width: 100%;
}

@media screen and (max-width: 1800px) {
}
@media screen and (max-width: 1350px) {
  .backgroundborder1 {
    padding-left: var(--padding-12xl);
    padding-right: var(--padding-12xl);
    box-sizing: border-box;
  }
  .urban-air-mobility-parent {
    gap: 65px;
  }
  .frame-container {
    gap: var(--gap-65xl);
  }
}
@media screen and (max-width: 900px) {
  .urban-air-mobility {
    font-size: var(--font-size-19xl);
    line-height: 71px;
  }
  .with-the-age {
    min-width: 100%;
  }
  .backgroundborder1 {
    gap: var(--gap-32xl);
  }
  .urban-air-mobility-parent {
    gap: var(--gap-14xl);
  }
  .frame-wrapper {
    padding-bottom: 95px;
    box-sizing: border-box;
  }
  .frame-container {
    gap: 15px;
  }
}
@media screen and (max-width: 450px) {
  .urban-air-mobility {
    font-size: 32px;
    line-height: 53px;
  }
  .with-the-age {
    font-size:16px;
    line-height: 37px;
  }
  .backgroundborder1 {
    gap: var(--gap-6xl);
    padding-top: var(--padding-37xl);
    padding-bottom: var(--padding-37xl);
    box-sizing: border-box;
  }

  .frame-wrapper {
    padding-bottom: var(--padding-43xl);
    box-sizing: border-box;
  }
  .productpagemain,.productpage{
    width: 100%;
  }
  .productallcont{
    width: 100%;
    height: 100vh;  
  }
  .product-innercont{
    width: 100%;  
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .recoverysystemh1{
    width: 60%;
    /* margin-top: 30%; */
    margin-bottom: 0;
    line-height: 35px;
    font-size: 32px;
  }
  .plug-and-play{
    width: 70%;
    /* margin-top: 0; */
    top: 21%;
    font-size: 16px;
  }
  .what-we-do{
    width: 70%;
    font-size: 32px;
    top: 25%;
  }
  .we-design-and-parent{
    width: 70%;
    top: 43%;
  }
  .we-design-and{
    font-size: 16px;
    line-height: 35px;
  }
  .We-offer-airframe{
    font-size: 16px;
    line-height: 35px;
  
  }
  .productTopImage{
    width: 100%;
    object-fit: cover;
    padding-top: 50px;

  }
}