.heading-2-child {
  /* align-self: stretch; */
  flex: 1;
  /* position: relative; */
  background-color: var(--color-darkslategray);
  width: 220px;
  height: 220px;
}
.name3 {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  width: 73px;
}
.backgroundborderoverlayblur12,
.heading-2,
.name-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.name-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-54xl) 0 var(--padding-54xl-5);
}
.backgroundborderoverlayblur12,
.heading-2 {
  flex: 1;
  box-sizing: border-box;
}
.heading-2 {
  width: 273px;
  height: 346px;
  flex-direction: column;
  padding: var(--padding-21xl) var(--padding-7xl-5);
  gap: var(--gap-3xs);
}
.backgroundborderoverlayblur12 {
  backdrop-filter: blur(15px);
  border-radius: var(--br-base);
  background: linear-gradient(
    114.03deg,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0)
  );
  box-shadow: var(--blue-blur);
  border: 1px solid var(--color-whitesmoke-400);
  overflow: hidden;
  flex-direction: row;
  /* width: 210px; */
  width: 273px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
 
}
@media screen and (max-width: 900px) {
  .name3 {
    font-size: 17px;
  }
}
@media screen and (max-width: 450px) {
  .name3 {
    font-size: 16px;
  }
  .heading-2 {
    width: 200px;
    height: 200px;
    padding: 0;
    padding: 20px 10px 20px 10px;
    
  }
  .heading-2-child {

    width: 100px;
    height:200px;
    
  }
  .backgroundborderoverlayblur12{
    width: 130px;
    margin-left: 5px;
   
  }
  .name-wrapper{
    padding: 0;
    margin: 0;
    align-items: center;
    padding-left: 25px;
  }
}
