.open-popup-btn27 {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .close-btn27 {
    position: absolute;
    right: 10px;
    top: -150px;
    background: transparent;
    border: none;
    font-size: 36px;
    color:white;
    cursor: pointer;
}

  .popup-overlay27 {
    position:fixed;
    top: 40%;
    left: 15%;
    width: 70%;
    height: 30%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-content27 {
    background: #2e2e2e;
    padding: 20px;
    border-radius: 10px;
    width: 1199px;
    height: 485px;
    max-width: 100%;
    text-align: center;
    color: #a0f9ff;
    display: flex;
    flex-direction: column;
  }
  
  .popup-content27 .One-last-step {
    color: #00f7ff;
    font-size: 48px;
  }
  .One-last-step{
    padding: 0px;
    margin: 0px;
  }
  .provide-your-email{
font-size: 32px;
margin-top: 15px;
color: #00f7ff;
font-family: urbanist;

  }
  
  .download-small{
    color: #3B69B2;
    font-size: 24px;
    font-family: urbanist;
   
  }
  
  .popup-form27 {
    display: flex;
    margin-top: 10px;
    gap: 100px;
    width: 80%;
    padding-left: 70px;
  }
 
  
  .form-group27 {
    flex: 1;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  
  .form-group27 label {
    display: block;
    color: #3B69B2;
    font-size: 28.69px;
    font-family: urbanist;
    
  
  }
  .form-group27 input {
    width: 100%;
    padding: 10px;
    border: 1px solid #7b77ff;
    border-radius: 5px;
    margin-top: 5px;
    color: #7b77ff;
    background: #333;
  }
  
  .submit-btn27 {
    font-size: 24px;
    padding:10px 60px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
    border: 2px solid cyan;
  
    
  }
  .popup-btn-submit{
    width: 88%;
    align-items: center;
    display: flex;
    justify-content: end;
  }

  
  .privacy-text27 {
    margin-top: 60px;
    color: #3B69B2;
    font-size: 24px;
    font-family: urbanist;
  }
  

  @media screen and (max-width: 1350px){
    .frame-parent48{
      justify-content: center;
      align-items: center;
    }
    .popup-content27 {
      padding: 20px;
      border-radius: 10px;
      max-width: 100%;
      height: 400px;
      text-align: center;
      color: #a0f9ff;
      display: flex;
      flex-direction: column;
    }

    .popup-content27 .One-last-step{
      font-size: 40px;
    }
    .provide-your-email{
      font-size: 28px;
      margin-bottom: 15px;
    }
    .download-small{
      font-size: 22px;
    }
    .popup-form27{

      display: flex;
      flex-direction: row;
      justify-content: start;  
      align-items: start;
      width: 90%;
      gap: 30px;
      padding-left: 30px;
      
    }
    .form-group27 label{
      font-size: 18px;
      
    }
    .privacy-text27{
      font-size: 18px;
      margin: 0;
      margin-top: 40px;
    }
    .submit-btn27{
      width: 45%;
      padding: 10px;
      margin-top: 30px;
      font-size: 15px;
      
    }
    .close-btn27 {
     
      right: 2px;
      top: -130px;
      font-size: 30px;
      
  }
  .popup-overlay27{
    top: 40%;
    
  }
  }

  @media screen and (max-width: 925px) {
    .frame-parent48{
      justify-content: center;
      align-items: center;
    }
    .popup-content27 {
      background: #2e2e2e;
      padding: 20px;
      border-radius: 10px;
      max-width: 100%;
      height: 400px;
      text-align: center;
      color: #a0f9ff;
      display: flex;
      flex-direction: column;
    }

    .popup-content27 .One-last-step{
      font-size: 40px;
    }
    .provide-your-email{
      font-size: 20px;
    }
    .download-small{
      font-size: 18px;
      gap: 5px;
      margin: 0px;

    }
    .popup-form27{

      display: flex;
      flex-direction: column;
      justify-content: start;  
      align-items: start;
      width: 100%;
      gap: 0;
      padding: 0px;
      
    }
    .form-group27 label{
      font-size: 18px;
      padding-left: 20px;
    }
    .form-group27 input{
      width: 100%;
      padding:5 100px;
      margin-left: 20px;
    }
    
    .privacy-text27{
      font-size: 18px;
      margin: 0;
      margin-top: 20px;
    }
    .submit-btn27{
      width: 45%;
      padding: 50px;
      margin-top: 30px;
      font-size: 15px;
      
    }
    .close-btn27 {
     
      right: 2px;
      top: -130px;
      font-size: 30px;
      
  }
  .popup-overlay27{
    top: 40%;
    
  }


  }
  @media screen and (max-width: 450px){

    .frame-parent48{
      justify-content: center;
      align-items: center;
    }
    .popup-content27 {
      background: #2e2e2e;
      padding: 20px;
      border-radius: 10px;
      max-width: 100%;
      height: 400px;
      text-align: center;
      color: #a0f9ff;
      display: flex;
      flex-direction: column;
    }

    .popup-content27 .One-last-step{
      font-size: 30px;
    }
    .provide-your-email{
      font-size: 18px;
    }
    .download-small{
      font-size: 15px;
      gap: 5px;
      margin: 0px;

    }
    .popup-form27{

      display: flex;
      flex-direction: column;
      justify-content: start;  
      align-items: start;
      width: 100%;
      gap: 0;
      padding: 0px;
      
    }
    .form-group27 label{
      font-size: 15px;
    }
    .privacy-text27{
      font-size: 15px;
      margin: 0;
      margin-top: 20px;
    }
    .submit-btn27{
      width: 100%;
      padding: 10px;
      margin-top: 25px;
      margin-left: 40px;
      font-size: 15px;
    }
    .close-btn27 {
     
      right: 2px;
      top: -100px;
      font-size: 30px;
      
  }
  .popup-overlay27{
    top: 32%;
    
  }

  }