.enhance-safety-with {
  margin-top:7%;
  align-self: stretch;
  position: relative;
  font-size: 48px;
  line-height: 12px;
  text-transform: capitalize;
  font-weight: 700;
  font-family: var(--font-urbanist);
  color: var(--cyan);
  z-index: 1;
  padding-bottom: 2%;
}
.our-inflatable-solutions {
  margin-block-start: 0;
  margin-block-end: 39px;
}
.furthermore-we-integrate {
  margin: 0;
}
.our-inflatable-solutions-container {
  height: 405px;

  flex: 1;
  position: relative;
  line-height: 46px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  /* min-width: 578px; */
  width: 100%;
}
.image-75-icon {
  height: 432.7px;
  width: 453px;
  position: relative;
  object-fit: cover;
  display: none;
  max-width: 100%;
}
.frame-child30,
.frame-child31 {
  position: absolute;
  top: 104.65px;
  left: 97.8px;
  filter: blur(4.06px);
  background-color: var(--color-dimgray);
  width: 32.6px;
  height: 12.3px;
  transform: rotate(-3.4deg);
  transform-origin: 0 0;
  z-index: 1;
}
.frame-child31 {
  top: 0;
  left: 0.78px;
  filter: blur(83.3px);
  background-color: var(--cyan);
  width: 100%;
  height: 100%;
  transform: rotate(0.2deg);
  mix-blend-mode: hue;
  z-index: 2;
}
.rectangle-parent10 {
  height: 223.9px;
  width: 298.4px;
  position: relative;
}
.frame-wrapper16,
.image-75-parent {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.image-75-parent {
  margin-left: -6.19999999999709px;
  height: 432.7px;
  width: 453px;
  justify-content: center;
  padding: var(--padding-34xl-6) var(--padding-xl) var(--padding-35xl)
    var(--padding-14xl);
  box-sizing: border-box;
  background-image: url(/public/drone.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  debug_commit: 1de1738;
  max-width: 107%;
}
.frame-wrapper16 {
  align-self: stretch;
  height: 343.7px;
  border-radius: 6.25px;
  overflow: hidden;
  justify-content: center;
  width: 100%;
 
}
.backgroundborder-inner,
.backgroundborder-wrapper,
.backgroundborder9 {
  display: flex;
  align-items: flex-start;
  /* box-sizing: border-box; */
  width: 100%;
}
.backgroundborder-inner {
  width: 426.5px;
  flex-direction: column;
  justify-content: flex-start;  
}
.backgroundborder-wrapper,
.backgroundborder9 {
  flex-direction: row;
}
.backgroundborder9 {
  flex: 1;
  box-shadow: var(--blue-blur);
  border-radius: var(--br-base);
  background: linear-gradient(
    114.03deg,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0)
  );
  border: 1px solid var(--color-gray-100);
  justify-content: center;
    padding: 50px 70px;
  gap: var(--gap-52xl);
  z-index: 1;
}
.backgroundborder-wrapper {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 var(--padding-4xl-8);
  text-align: left;
}
/* .backgroundborderoverlayblur-icon7 {
  align-self: stretch;
  height: 350px;
  position: relative;
  border-radius: var(--br-base);
  width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  box-shadow: var(--blue-blur);
}
.multirotor-drone-for2,
.sea-based-recovery2 {
  margin: 0;
  font-weight: 300;
}
.multirotor-drone-for-container2 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 33px;
  text-transform: capitalize;
} */
/* .backgroundborderoverlayblur-parent6 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-smi-9);
  box-sizing: border-box;
  width: 100%;
  
}
.backgroundborderoverlayblur-icon8 {
  align-self: stretch;
  height: 350px;
  position: relative;
  border-radius: var(--br-base);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  box-shadow: var(--blue-blur);
}
.land-based-recovery2,
.multirotor-drone-for3 {
  margin: 0;
  font-weight: 300;
}
.multirotor-drone-for-container3 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 33px;
  text-transform: capitalize;
}
.backgroundborderoverlayblur-parent7 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-smi-9);
  box-sizing: border-box;
  gap: var(--gap-sm-4);
  max-width: 100%;
}
.backgroundborderoverlayblur-icon9 {
  align-self: stretch;
  height: 350px;
  position: relative;
  border-radius: var(--br-base);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  box-shadow: var(--blue-blur);

}
.fixed-wing-drone5,
.sea-based-recovery3 {
  margin: 0;
  font-weight: 300;
}
.fixed-wing-drone-container2 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 33px;
  text-transform: capitalize;
}
.backgroundborderoverlayblur-parent8 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-smi-9);
  box-sizing: border-box;
  gap: var(--gap-sm-4);
  max-width: 100%;


}
.backgroundborderoverlayblur-icon10 {
  align-self: stretch;
  height: 350px;
  position: relative;
  border-radius: var(--br-base);
  max-width: 100%;
  box-shadow: var(--blue-blur);
  overflow: hidden;
  flex-shrink: 0;
}
.fixed-wing-drone6,
.land-based-recovery3 {
  margin: 0;
  font-weight: 300;
}
.fixed-wing-drone-container3 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 33px;
  text-transform: capitalize;
}
.backgroundborderoverlayblur-parent9 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-smi-9);
  box-sizing: border-box;
  gap: var(--gap-sm-4);
  max-width: 100%;
} */
/* .frame-parent45 {
  align-self: stretch;
  display: grid;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl-3);
  width: 100%;
  grid-template-columns: repeat(4, minmax(262px, 1fr));
  z-index: 1;
} */
/* .explore-inflatable-airbags {
  position: relative;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.5px;
  line-height: 15px;
  text-transform: capitalize;
  font-family: var(--font-poppins);
  color: var(--cyan);
  text-align: center;
}
.vector-icon4 {
  width: 17.2px;
  height: 11.5px;
  position: relative;
}
.vector-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 1px;
}
.explore-inflatable-airbags-sys-parent,
.frame-wrapper17 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.explore-inflatable-airbags-sys-parent {
  cursor: pointer;
  border: 2px solid var(--cyan);
  padding: var(--padding-mid) var(--padding-24xl);
  background-color: transparent;
  border-radius: var(--br-5xs);
  background: linear-gradient(
    114.03deg,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0)
  );
 
  overflow: hidden;
  justify-content: flex-start;
  gap: var(--gap-10xl);
  z-index: 1;
}
.explore-inflatable-airbags-sys-parent:hover{
    
  background-color: var(--color-darkturquoise-200);
   
    box-sizing: border-box;
 
} */
/* .frame-wrapper17 {
  margin-top: 30px;
  width: 1510.8px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  
} */

/* .frame-parent44 , */
.enhance-safety-with-inflatable-parent{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
/* .frame-parent44 {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-41xl-1);
  margin-top: 83px;
} */
.enhance-safety-with-inflatable-parent {
  width: 1521px;
  align-items: flex-end;
  gap: 65px;
  flex-shrink: 0;
}
.home-inner3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-9xl) 20.7% var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--white);
  font-family: var(--font-poppins);



}
@media screen and (max-width: 1350px) {
  .backgroundborder-inner {
    flex: 1;
  }
  .backgroundborder9 {
    flex-wrap: wrap;
    padding-left: var(--padding-15xl);
    padding-right: var(--padding-12xl);
    box-sizing: border-box;
  }
  /* .frame-parent45 {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(262px, 455px));
  } */
  .enhance-safety-with-inflatable-parent {
    gap: var(--gap-56xl);
  }
  .home-inner3 {
    padding-bottom: var(--padding-114xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .enhance-safety-with {
    font-size: 34px;
    line-height: 35px;
  }

  .backgroundborder-inner{
    font-size: 17px;
    font-weight: 200;
    line-height: 35px;
    flex-direction: row;
    width: 100%;
    margin-top: 50px;
    justify-content: center;
  }
  .our-inflatable-solutions-container {
    font-size: 20px;
    font-weight: 200;
    line-height: 37px;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
  }
  .backgroundborder9 {
    gap: var(--gap-16xl);
    padding-top: var(--padding-37xl);
    padding-bottom: var(--padding-23xl);
    box-sizing: border-box;
  }
  .backgroundborder-wrapper{
    /* margin-left: 47px; */
    width: 100%;
  }
  /* .frame-parent45 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  } */
  /* .image-75-parent{
    height: 220px;
    width: 250px;
  }
 
  .explore-inflatable-airbags{
    font-size: 20px;
    font-weight: 200;
  }
  .explore-inflatable-airbags-sys-parent {
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  } */
  /* .frame-parent44 {
    gap: var(--gap-11xl);
  } */
  .enhance-safety-with-inflatable-parent {
    gap: var(--gap-18xl);
    margin-top: 80px;
  }
  .home-inner3 {
    padding-bottom: var(--padding-67xl);
    box-sizing: border-box;
  }
  
  .frame-wrapper16{
    height: 220px;
    width: 66%;
  }
  .backgroundborder-inner {
    width: 216.5px;
    display: flex;
    position: relative;
    }
   
/*     
 .backgroundborderoverlayblur-icon7,.backgroundborderoverlayblur-icon8,
 .backgroundborderoverlayblur-icon9,.backgroundborderoverlayblur-icon10{
  width: 100%;
  height: auto;
 }
 .multirotor-drone-for-container2,.multirotor-drone-for-container3,
 .fixed-wing-drone-container2,.fixed-wing-drone-container3{
  font-size: 16px;
  line-height: 22px;
  width: 100%;
 }
 .multirotor-drone-for2,.sea-based-recovery2,
 .multirotor-drone-for3,.land-based-recovery2,
 .sea-based-recovery3,.fixed-wing-drone6,.fixed-wing-drone5,
 .land-based-recovery3,.land-based-recovery3{
  font-size: 17px;

 } */
 /* .frame-parent45{
align-self: stretch;
display: grid;
flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
width: 100%;
grid-template-columns: repeat(2, minmax(150px, 1fr));
z-index: 1;

 } */
 /* .frame-wrapper17{
  margin-top: 30px;
 }
 .explore-inflatable-airbags-sys-parent{
  align-items: center;
  justify-content: center;
 } */

}
@media screen and (max-width: 450px) {
  .enhance-safety-with {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }
  
  .backgroundborder-wrapper{
    /* width: 100%; */
    width: 100%;
   margin: 0;
   display: flex;
   flex-direction: column;
   padding: 0;
    /* flex-wrap: nowrap; */
  }
  .backgroundborder9 {
    gap: 0;
    object-fit: cover;
   margin: 0;
   padding: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction:column-reverse;
   position: relative;
   flex-wrap: nowrap;
  }
  .backgroundborder-inner{
    margin-top: 0;
    padding-right: 0;
    margin-right: 0;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
  }
  
  .enhance-safety-with{
    font-size: 32px;
    line-height: 37px;
  }
  .enhance-safety-with-inflatable-parent {
    gap: var(--gap-lgi);
  }
  .home-inner3 {
    padding-bottom: var(--padding-37xl);
    box-sizing: border-box;
  }
  .our-inflatable-solutions-container{
    padding-left: 15px;
    padding-top: 20px;
    font-size: 16px;
    align-items: center;
    line-height: 37px;
    font-weight: 200;
    height: 100%;
   
    }
    .our-inflatable-solutions,.furthermore-we-integrate{
      font-size: 16px;
    }
  .image-75-parent{
    height: 180px;
    width: 180px;
    border-radius: 5px;
    
  }
  
 .frame-wrapper16{
  align-items: start;
  justify-content: start;
  height: 180px;
  width: 180px;
 
 }
}
