.at-uttoria-we,
.autonomous-drone-safety {
  position: relative;
  text-transform: capitalize;
}
.autonomous-drone-safety {
  margin: 0;
  align-self: stretch;
  font-size: inherit;
  letter-spacing: 0.02em;
  line-height: 12px;
  font-weight: 900;
  font-family: inherit;
  z-index: 1;
}
.at-uttoria-we {
  height: 250px;
  flex: 1;
  letter-spacing: 0.95px;
  line-height: 46px;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  font-size: 24px;
  font-weight: 300;
}
.backgroundborder7 {
  flex: 1;
  width: 953px;
  height: 420px;
  box-shadow: var(--blue-blur);
  border-radius: var(--br-base);
  background: linear-gradient(
    114.03deg,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0)
  );
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-112xl) var(--padding-61xl);
  padding-top: 85px;
  /* min-width: 400px; */
  max-width: 100%;
  z-index: 1;
  
}

.unnamed-2-icon {
  position: absolute;
  /* top: -3.9%; */
  width: 100%;
  height: 455.1px;
  object-fit: contain;
}
.backgroundborder-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  mix-blend-mode: hue;
  z-index: 1;
}
.backgroundborder8 {
  height: 420px;
  width: 466px;
  position: relative;
  box-shadow: var(--blue-blur);
  border-radius: var(--br-base);
  background: linear-gradient(
    114.03deg,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0)
  );
  border: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  /* min-width: 466px; */
  max-width: 100%;
  z-index: 1;
  
}
.backgroundborder-group {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-82xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--white);
  font-family: var(--font-poppins);
 
  
}
.autonomous-drone-safety-parent,
.backgroundborder-group,
.home-inner1 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.autonomous-drone-safety-parent {
  width: 1520px;
  flex-direction: column;
  justify-content: flex-start;
  /* gap: var(--gap-179xl); */
  gap: 106px;
  padding-top: 1.8%;
}
.home-inner1 {
  width: 100%;
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0px var(--padding-8xl) 22.3% var(--padding-xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--cyan);
  font-family: var(--font-urbanist);


}
@media screen and (max-width: 1350px) {
  .backgroundborder7 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
    height: auto;
  }
  .backgroundborder8 {
    /* height: 280px; */
    flex: 1;
  }
  .backgroundborder-group {
    flex-wrap: wrap;
  }
  .autonomous-drone-safety-parent {
    gap: var(--gap-80xl);
  }
  .home-inner1 {
    padding-bottom: var(--padding-273xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .autonomous-drone-safety {
    padding-top: 200px;
    font-size: 30px;
    line-height: 9px;
  }
  .backgroundborder-group {
    margin-top: 50px;
    width: 70%;
    margin-left: 15%;
    gap: var(--gap-31xl);
    
  }
  .backgroundborder7{
    padding: 20px;
    width: 100%; 
  }
  .backgroundborder8 {
    padding: 20px;
    min-width: 100%;
    height: 350px;
  }
  .autonomous-drone-safety-parent {
    gap: var(--gap-30xl);
  }
  .home-inner1 {
    padding-bottom: var(--padding-171xl);
    box-sizing: border-box;
  }
  .at-uttoria-we {
    font-size: 20px;
     line-height: 37px;
     align-items: center;
     
   }
  
   .unnamed-2-icon{
    height: 350px;
   }
}
@media screen and (max-width: 450px) {
  .autonomous-drone-safety {
    /* font-size: var(--font-size-10xl); */
    font-size: 32px;
    line-height: 40px;
    padding-top: 0;
  }
  .at-uttoria-we {
   font-size: 16px;
    line-height: 37px;
    align-items: center;
    
  }
  .backgroundborder7{
   
   
    box-sizing: border-box;
   align-items: center;
    width: 100%;
    height: 420px;
   
    
  }
 .backgroundborder8{
  width: 50%;
  height: 270px;
 }
  .home-inner1{
    padding-bottom: 80px;
  }
  .backgroundborder-group {
    gap: var(--gap-6xl);
    width: 100%;
    margin-left: 0;
    margin-top: 0;
  }
  .autonomous-drone-safety-parent{
    padding-top: 100px;
    font-size: 20px;
  }
  .unnamed-2-icon{
  
    margin-right: 0;
    right: 0;
    height: 250px;
  }
 
}
