.choose-h1 {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: 48px;
    letter-spacing: 0.04em;
    line-height: 89px;
    text-transform: capitalize;
    font-weight: 700;
    font-family: urbanist;
    z-index: 1;
  }
  .experience-and-turnaround-h2,
  .cost-of-integration,
  .cost-of-test-and-certificate{
    color: cyan;
    margin: 0;
    font-size: 36px;
    line-height:46px;
    letter-spacing: 4%;
    font-weight: 700;
    font-family: urbanist;
    padding-left: 20px;
    padding-right: 20px;
  }
  .experience-and-turnaround-p,
  .cost-of-integration-p,
  .cost-of-test-p{
    font-size: 24px;
    margin: 0;
    padding-top: 40px ;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    line-height: 35px;
    letter-spacing: 0%;
    font-family: poppins;
    font-weight: 300;
   
  }
  .experience-and-turnaround-time {
    flex: 1;
    position: relative;
    line-height: 29px;
    text-transform: capitalize;
  }
  .div1-choose, .div2-choose, .div3-choose{
    width: 466px;
    height: 420px;
    /* box-shadow: var(--blue-blur); */
    box-shadow: 0px 15px 60px rgba(59, 105, 178, 0.15);
    border-radius: var(--br-5xs);
    background: linear-gradient(
      114.03deg,
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0)
    );
    border: 1px solid var(--color-whitesmoke-400);
    box-sizing: border-box;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-57xl) var(--padding-3xl);
  }

  .cost-of-test-p {
    margin: 0;
  }

  .cost-of-tests {
    flex: 1;
    position: relative;
    line-height: 29px;
    text-transform: capitalize;
  }
  .group-choose,
  .why-choose-uttorea {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .group-choose {
    align-self: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--gap-11xl);
    z-index: 1;
    font-size: var(--font-size-5xl);
    color: var(--white);
    font-family: var(--font-poppins);
  }
  .why-choose-uttorea{
    width: 1520px;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-32xl);
    margin-top: 10%;
  }
  .why-choose {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
    text-align: center;
    font-size: var(--font-size-29xl);
    color: var(--cyan);
    font-family: var(--font-urbanist);
  }
  .why-choose-uttorea-discription{
    color: white;
    margin-top:40px;
    width: 1520px;
    line-height: 46px;
    font-size: 24px;
    letter-spacing: 0.96px;
    z-index: 1;
    text-align: start;
    padding-left: 1%;
   
    font-family: poppins;
    
    
}
  @media screen and (max-width: 900px) {
    .choose-h1 {
      font-size: 34px;
      line-height: 35px;
    }
    .why-choose-uttorea {
      /* gap: var(--gap-6xl); */
    }
    .experience-and-turnaround-h2,.cost-of-integration,
    .cost-of-test-and-certificate{
      font-size: 34px;
      line-height: 45px;
    }
    .cost-of-test-p,.cost-of-integration-p,.experience-and-turnaround-p{
      font-size: 17px;
      line-height: 35px;
    }
    .why-choose-uttorea-discription{
      width: 100%;
      font-size: 17px;
      line-height: 35px;
    }
  }
  @media screen and (max-width: 450px) {
    .choose-h1 {
      font-size: var(--font-size-10xl);
      line-height: 53px;
    }
    .experience-and-turnaround-time,
   
    .cost-of-integration ,.cost-of-test-and-certificate{
      font-size:32px;
      line-height: 45px;
    }
  
.choose-h1{
  font-size: 32px;
}
.experience-and-turnaround-h2{
  font-size: 32px;
}
.div1-choose, .div2-choose, .div3-choose{
  width: 90%;
  padding-top: 40px;
  padding-bottom: 40px;  
}

.experience-and-turnaround-p,
.cost-of-integration-p,
.cost-of-test-p{
  font-size: 16px;
}
.why-choose-uttorea-discription{
  width: 100%;
  font-size: 16px;
  line-height: 35px;
}
}

