.discover-our-recovery {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 12px;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
  flex-shrink: 0;
  z-index: 1;
  margin-top: 50px;
}
.our-recovery-system {
  width: 938.7px;
  position: relative;
  letter-spacing: 0.04em;
  line-height: 30px;
  font-weight:300;
  padding-top: 0px;
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
/* .backgroundborderoverlayblur-parent5 */
.our-recovery-system-is-capable-wrapper{
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;

}
.our-recovery-system-is-capable-wrapper {
  padding: 0px var(--padding-xl);
  box-sizing: border-box;
}
/* .backgroundborderoverlayblur-parent5 {
  flex-wrap: wrap;
  gap: var(--gap-83xl);
  color: var(--cyan);
 
 

} */
.explore-our-range {
  width: 944.4px;
  position: relative;
  letter-spacing: 0.04em;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
  font-weight: 300;
  font-family: poppins;
}
.explore-our-range-of-recovery-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.explore-our-range-of-recovery-wrapper,
.frame-parent43,
.frame-wrapper15 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent43 {
  width: 1358px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-41xl);
}
.frame-wrapper15 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  flex-shrink: 0;
  font-size: var(--font-size-5xl);
  color: var(--white);
  font-family: var(--font-poppins);
}
.discover-our-recovery-systems-parent {
  width: 1520px;
  display: flex;
  /* padding-top: 230px; */
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap:55px;
  max-width: 100%;
}
.home-inner2 {
  width: 100%;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  /* padding: 0 var(--padding-8xl) var(--padding-211xl-9) var(--padding-xl); */
padding-bottom:123px ;
padding-top: 60px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--cyan);
  font-family: var(--font-urbanist);
  
}

.recoversectionimages{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15%;
}
.assentnmimagesection{
  
  width: 628px;
  height: 536px;
  flex: 1;
  box-shadow: var(--blue-blur);
  border-radius: var(--br-base);
  /* border: 1px solid var(--color-cornflowerblue-100); */
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-12xs-2) 0 0;
  gap: var(--gap-8xs-6);
 
  z-index: 1;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--cyan);
  font-family: var(--font-poppins);
  background: url('../../public/blureimg.png');
}
.asentimageicon{
  width: 335.67px;
  height: 440.2px;
}
.assentmname{
  margin-top: 16px;
}
.deassentmname{
  margin-top: 15px;
}
.dessentnmimagesection{
  width: 628px;
  height: 536px;
  flex: 1;
  box-shadow: var(--blue-blur);
  border-radius: var(--br-base);
  /* border: 1px solid var(--color-cornflowerblue-100); */
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding-top: 160px;
  gap: var(--gap-8xs-6);
  
  z-index: 1;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--cyan);
  font-family: var(--font-poppins);
  background-color: rgba(59, 105, 178, 0.1);
  /* background: url('../../public/blureimg.png'); */
  
}

.decntmimageicon{
  width: 447.82px;
height: 239.63px;
padding-bottom: 45px;
}
.assentnmhr{
  color:cyan;
  height:3px;
   border:none;
 background-color: cyan;
    width:100%;
}




@media screen and (max-width: 1350px) {
  .home-inner2 {
    padding-bottom: var(--padding-131xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .discover-our-recovery {
    font-size: 34px;
    margin: 0;
    line-height: 35px;
  }

  .frame-parent43 {
    gap: var(--gap-11xl);
  }
  .discover-our-recovery-systems-parent {
    gap: var(--gap-37xl);
    padding: 0;
    margin-top: 200px;
   
  }
  .our-recovery-system{
    font-size: 17px;
    line-height: 35px
    ;
  }
  .home-inner2 {
    padding-bottom: var(--padding-78xl);
    box-sizing: border-box;
    
  }
  .explore-our-range{
    font-size: 17px;
    margin-top: 20px;
    line-height: 35px;
  }

  .dessentnmimagesection,.assentnmimagesection{
    width: 350px;
    height: 380px;
    margin-top: 20px;
    font-size: 17px;
    background-size: cover;
   
  }
  .svgicondecent{
    width: 5%;
  }
  .dessentnmimagesection{
    padding-top:7%;
  }
  .asentimageicon{
    height: 60%;
    width: 70%;
  }
  .decntmimageicon{
    padding-top: 68px;
    padding-bottom: 0;
    margin-bottom:39px;
    width: 80%;
    height:90%;
  }
  .recoversectionimages{
    gap: 10%;
    padding-left: 8%;
  }
  .deassentmname,.assentmname{
margin-top: 20px;
  }
}
@media screen and (max-width: 450px) {
  .discover-our-recovery {
   font-size: 32px;
    line-height: 35px;
    padding-top: 150px;
  }
  
  .our-recovery-system {
    font-size: 16px;
    line-height: 24px;
  }
 
  .explore-our-range {
    font-size: 16px;
    line-height: 24px;
  }
  .discover-our-recovery-systems-parent {
    gap: var(--gap-9xl);
    
  }
 .dessentnmimagesection,.assentnmimagesection{
    width: 180px;
    height: 200px;
    margin-top: 20px;
    font-size: 12px;
    background-size: cover;
   
  }
  .svgicondecent{
    width: 5%;
  }
  .dessentnmimagesection{
    padding-top: 15px;
  }
  .asentimageicon{
    width: 120.67px;
    height: 150.2px;
  }
  .decntmimageicon{
    padding-top: 10px;
    padding-bottom: 0;
    margin-bottom: 17px;
    width: 120.67px;
    height: 110.2px;
  }
 
  .deassentmname,.assentmname{
margin-top: 10px;
  }
  .recoversectionimages{
gap: 10px;
margin-left: -29px;
  }
  
  .assentnmimagesection{
    margin-left: 0;
  }
  
  
}
