.frame-child32 {
  /* height: 1080; */
  width: calc(100% - 7px);
  position: absolute;
  margin: 0 !important;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.frame-child33 {
  width: 100%;
  /* height: 1080px; */
  position: relative;
  display: none;
  max-width: 100%;
}
.backgroundborderoverlayblur-parent10,
.our-customer {
  /* width: 1520px; */
  display: flex;
  justify-content: center;
  /* width: 100%; */
  z-index: 1;
}
.our-customer {
  margin: 0;
  position: relative;
  font-size: 48px;
  line-height: 12px;
  text-transform: capitalize;
  font-weight: 700;
  font-family: urbanist;
  align-items: center;
}
.backgroundborderoverlayblur-parent10 {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 40px;
  text-align: left;
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.image-116-icon8 {
  height: 92px;
  width: 104.2px;
  position: relative;
  object-fit: contain;
}
.home-wrapper5,
.home9 {
  display: flex;
  align-items: center;
}
.home9 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.04em;
  line-height: 22px;
  font-weight: 600;
  justify-content: center;
}
.home-wrapper5 {
  height: 42px;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-4xs);
  box-sizing: border-box;
  color: var(--cyan);
}
.parachute-recovery-system8 {
  height: 50px;
  position: relative;
  letter-spacing: 0.04em;
  line-height: 50px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.parachute-recovery-system-wrapper3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-smi);
  box-sizing: border-box;
  max-width: 100%;
}
.inflatable-airbags-system8 {
  height: 50px;
  position: relative;
  letter-spacing: 0.04em;
  line-height: 50px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-child34 {
  align-self: stretch;
  width: 25px;
  position: relative;
}
.inflatable-airbags-system-parent3 {
  height: 76px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-9xs);
  max-width: 100%;
}
.about-us-wrapper5,
.about-us9 {
  display: flex;
  align-items: center;
}
.about-us9 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.04em;
  line-height: 22px;
  font-weight: 600;
  justify-content: center;
}
.about-us-wrapper5 {
  height: 42px;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.contact-us9 {
  height: 22px;
  position: relative;
  letter-spacing: 0.04em;
  line-height: 22px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0.2px 0 0#fff, 0 0.2px 0#fff, -0.2px 0 0#fff, 0-0.2px 0#fff;
}
.contact-us-wrapper5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-smi);
}
.frame-parent47,
.image-116-parent4 {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
}
.frame-parent47 {
  width: 1191px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  min-height: 100px;
}
.image-116-parent4 {
  width: 1920px;
  backdrop-filter: blur(25.2px);
  background: linear-gradient(
    -77.62deg,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0)
  );
  display: none;
  padding: 0 var(--padding-181xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  color: var(--color-whitesmoke-300);
}
.frame-parent46,
.rectangle-parent11 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent11 {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding-top:30px;
  /* gap: var(--gap-109xl-3); */
  gap: 80px;
  
  z-index: 1;
}
.frame-parent46 {

  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 2% var(--padding-6xs) 28.5% 0;
  position: relative;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--cyan);
  font-family: var(--font-urbanist);
 

}
@media screen and (max-width: 1725px) {
  .frame-parent47,
  .image-116-parent4 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1350px) {
  .rectangle-parent11 {
    gap: var(--gap-45xl);
  }
}
@media screen and (max-width: 900px) {
  .our-customer {
    padding-top: 0;
   font-size: 34px;
    line-height: 37px;
  }
  .frame-parent46{
    padding-top: 0;
    padding-bottom: 0;
  }
  .backgroundborderoverlayblur-parent10 {
    margin-top: 50px;
    gap: 30px;
  }
  .rectangle-parent11 {
    gap: var(--gap-13xl);
    padding-top: var(--padding-65xl);
    padding-bottom: var(--padding-109xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .our-customer {
    font-size: 32px;
    line-height: 35px;
    
  }
  .home9 {
    font-size: var(--font-size-lgi);
    line-height: 18px;
  }
  .about-us9,
  .contact-us9,
  .inflatable-airbags-system8,
  .parachute-recovery-system8 {
    font-size: var(--font-size-lgi);
    line-height: 40px;
  }
  .about-us9,
  .contact-us9 {
    line-height: 18px;
  }
  .backgroundborderoverlayblur-parent10{
    gap: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;


  }
  .backgroundborderoverlayblur-parent10 > * {
    flex: 1 1 200px; 
    min-width: 100px; 
    max-width: 120px; 
    margin: 10px; 
    
  }
  .rectangle-parent11 {
    gap: var(--gap-base);
    padding-top: var(--padding-36xl);
    padding-bottom: var(--padding-64xl);
    box-sizing: border-box;
  }
}
