.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(55, 55, 55);
  overflow: hidden; /* To ensure no scrollbars appear */
}

.loading-video {
  width: 200px;
  height: 200px;
  object-fit: cover; /* Ensures the video covers the entire area */
}